---
rdf_prefix_path: "_data/prefixes.sparql"
---

{{ page.rdf }}

<dl>
    <dt>Title:</dt>
    <dd>{{ page.rdf | rdf_property: "rdfs:label" }}</dd>
</dl>

<dl>
    <dt>Soundtrack:</dt>
    <dd>{{ page.rdf | rdf_property: "foaf:soundtrack" }}</dd>
</dl>

<h2>Awards</h2>
<ul>
    {% capture award_query %}
    SELECT ?award WHERE {
    {
    ?resourceUri p:P166 ?award
    }
    }
    {% endcapture %}
    {% assign awards = page.rdf | sparql_query: award_query %}
    {% for row in awards %}
    <li><a href="{{ row.award.page_url }}">{{ row.award | rdf_property: "rdfs:label" }}</a></li>
    {% endfor %}
</ul>

<h2>Soundtrack By</h2>
<ul>
    {% capture artist_query %}
    SELECT ?artist WHERE {
    {
    ?resourceUri :musicBy ?artist
    }
    }
    {% endcapture %}
    {% assign artists = page.rdf | sparql_query: artist_query %}
    {% for row in artists %}
    <li><a href="{{ row.artist.page_url }}">{{ row.artist | rdf_property: "foaf:name" }}</a></li>
    {% endfor %}
</ul>